*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}


html {
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  padding: 40px 0;
  box-sizing: border-box;
  color: #51565d;
} 

body {
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    padding: 40px 0;
    box-sizing: border-box;
    color: #51565d;
}

#odbor {  /* Nazov odboru (napr. aplikovana informatika) hore*/
    position: fixed;
    top: 15%;
    left: 45%; 
    color: #195ABC;
    font-size: 25px;
    text-align: center;
}

table {
    position: absolute;
    left: 20%;
    /*margin-left: 50%;*/
    width: 75%;
    margin: auto;
    padding: 15px;
    overflow: hidden;
    box-shadow: 7px 5px 20px rgba(26, 32, 51, 0.158);
    border-radius: 25px;
    border-spacing: 0px;
    background: #fff;
    max-width: 1200px;
}

td {
    border: none;
    border-bottom: 1px solid rgba(166, 168, 179, 0.192);
    border-right: 1px solid rgba(166, 168, 179, 0.192); 
    text-align: left;
    padding: 22px 20px;     /* vyska riadkov */
    letter-spacing: 1px;
    font-size: 12px;
    box-sizing: border-box;
    color: #808a92;
    position: relative;
    z-index: 1; 
}

td:first-child {
    border: none;
    table-layout: fixed;
    width: 5%;
    font-size: 17px;
}

td:last-child {
    border-right: none;
}


table tr:first-child td {   /* prvy riadok s casom */
    font-size: 15px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: left;
    border-top: none;
    border-bottom: 1px solid rgba(166, 168, 179, 0.192);
    line-height: 20px;
    font-weight: 500;
}

table tr:first-child td:first-child  {
    border-bottom: none;
}

table tr:last-child td {
    border-bottom: none;
}

.hodina {
    width: auto;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px;

    color: #f5f7fa;
    border-radius: 12px;
    background: #195ABC;
    z-index: -1;
}

 #item {     /*zabranuje prerezaniu elementu div tak, aby sa zmestil do stlpca */
    position: absolute;
    left: 10px;
    top: 6px;
}

.hodina-name {
    margin: 2px;
    font-size: 14px;
    white-space: nowrap; /*jeden riadkovy text*/
}

.hodina-miestnost {
    margin: 2px;
    font-size: 11px;
}

.hodina-cas {
    margin: 2px;
    font-size: 11px;
}


#flex_inside{
    position: absolute;
    left: 340px;
    bottom: 0px;
    top: 50px;
    right: 0px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#user {
    display: flex;
    position: absolute;
    width: 300px;
    height: 50px;
    right: 0px;
    top: 0px;

    font-size: 14pt;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: #c4c4c400;
}
#user .profile_pic {
    border: solid black 1px;
    border-radius: 40px;

    height: 40px;
    width: 40px;
}
